<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>{{title}}
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg"> 
            <div class="row">
              <div class="col-sm-12">
                
              
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="top-spacer"> </div>
          </div>
        </div> 
      </div>
      
    </div>


    <div class="container">
      <div class="row">
        
        <div class="col-md-12"> 
          
          <div class="panel">
            <div class="panel-body">

                <div class="container">
                    <div class="row">
                      
                      <div class="col-md-12"> 
                        
                        <div class="panel">
                          <div class="panel-body">
                            <h3>LOGIN</h3>
                <form (ngSubmit)="signup()">
                    <div class="mb-3">
                         <label for="fname" class="form-label">First Name</label>
                            <input type="text" name="fname" class="form-control" [(ngModel)]="user.fname" id="fname">
                          </div>
                          <div class="mb-3">
                            <label for="lname" class="form-label">Last Name</label>
                               <input type="text" name="lname" class="form-control" [(ngModel)]="user.lname" id="lname">
                             </div>
                          <div class="mb-3">
                      <label for="uname" class="form-label">Username</label>
                      <input type="text" name="uname" class="form-control" id="uname" [(ngModel)]="user.uname" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" name="password" class="form-control" [(ngModel)]="user.password" id="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                
                
