<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>{{title}}
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg"> 
            <div class="row">
              <div class="col-sm-12">
                
              
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="top-spacer"> </div>
          </div>
        </div> 
      </div>
      
    </div>


    <div class="container">
      <div class="row">
        
        <div class="col-md-12"> 
          
          <div class="panel">
            <div class="panel-body">
                
                <div class="card">
    <form (ngSubmit)="AddAuthor()">
        <div class="card-header">
            {{title}}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><label>Author</label></td>
                            <td><input type="text" name="p_name" [(ngModel)]="author.author" /></td>
                        </tr>
                        <tr>
                            <td><label>Works</label></td>
                            <td><input type="text" name="p_code" [(ngModel)]="author.work" /></td>
                        </tr>
                        <tr>
                            <td><label>Author Image URL</label></td>
                            <td><input type="text" name="p_image" [(ngModel)]="author.image" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Submit"/></td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>


